<%
  sorted_scorings = application.scorings.sort_by { |s| s.user&.name || '' }
  completed_scorings = sorted_scorings.select(&:completed?)
  overall_score = application.overall_score
  
  # Determine if we should highlight the row based on overall score
  highlight_class = ''
  if overall_score.present?
    if overall_score < 2.5
      highlight_class = 'grid-row-negative'
    elsif overall_score > 4
      highlight_class = 'grid-row-positive'
    end
  end
%>
<div class="grid-row <%= highlight_class %>" id="scoring_application_<%= application.id %>">
  <div class="grid-cell"><%= application.first_name %> <%= application.last_name %></div>
  <div class="grid-cell">
    <%= render 'scorings/score_boxes', scorings: sorted_scorings %>
  </div>
  <div class="grid-cell">
    <%= link_to "View", application_path(application), class: "btn btn-sm btn-primary" %>
    <% if application.resume.present? %>
      <%= link_to "Resume", application.resume, target: "_blank", class: "btn btn-sm btn-secondary ms-1" %>
    <% end %>
    <%= link_to "Score", create_pending_scoring_path(application, from_index: true), class: "btn btn-sm btn-success ms-1", data: { turbo: false } %>
  </div>
  <div class="grid-cell">
    <% if overall_score.present? %>
      <% score_class = overall_score < 3 ? 'low' : (overall_score < 4 ? 'medium' : 'high') %>
      <div class="score-box score-<%= score_class %>">
        <%= overall_score %>
      </div>
    <% end %>
  </div>
</div> 