<%
  sorted_reviews = application.initial_reviews.sort_by { |r| r.user&.name || '' }
  has_no = sorted_reviews.any? { |r| r.no? }
  has_yes = sorted_reviews.any? { |r| r.yes? }
  negative_highlight = has_no && !has_yes ? 'grid-row-negative' : ''
%>
<div class="grid-row <%= negative_highlight %>" id="application_<%= application.id %>">
  <div class="grid-cell"><%= application.first_name %> <%= application.last_name %></div>
  <div class="grid-cell">
    <%= render 'initial_reviews/review_boxes', reviews: sorted_reviews %>
  </div>
  <div class="grid-cell">
    <%= link_to "View", application_path(application), class: "btn btn-sm btn-primary" %>
    <% if application.resume.present? %>
      <%= link_to "Resume", application.resume, target: "_blank", class: "btn btn-sm btn-secondary ms-1" %>
    <% end %>
  </div>
  <div class="grid-cell">
    <%= link_to "Review", create_pending_initial_review_path(application, from_index: true), class: "btn btn-sm btn-success", data: { turbo: false } %>
  </div>
</div> 