<div class="container mt-4">
  <h1 class="mb-4">Initial Review Overview</h1>

  <p>Reviews with at least one red 'Reject' will not pass to the next round.</p>
  <p>All other applications will be sent to the further review round.</p>

  <%
    # Find applications with pending reviews assigned to the current user
    pending_reviews = InitialReview.where(user: current_user, decision: :pending)
    pending_applications_count = pending_reviews.count
    has_pending_applications = pending_applications_count > 0
    
    # Get the first pending application for the review link
    first_pending_application = pending_reviews.first&.application
  %>

  <%= turbo_stream_from "user_#{current_user.id}_pending_reviews" %>
  
  <div class="text-center mb-4">
    <div id="review_button_container" style="display: inline-block;">
      <%= render "review_button", current_user: current_user %>
    </div>
    
    <%= turbo_frame_tag "batch_assign_section" do %>
      <%= render "batch_assign_section", 
                applications_needing_reviews: @applications_needing_reviews,
                total_reviews_needed: @total_reviews_needed %>
    <% end %>
  </div>

  <%= turbo_stream_from "applications" %>

  <% @applications.group_by(&:year).sort.each do |year, applications| %>
    <h2 class="year-header">Year <%= year %></h2>
    <div class="reviews-grid">
      <%# Headers %>
      <div class="grid-header">Name</div>
      <div class="grid-header">Review Status</div>
      <div class="grid-header">Actions</div>
      <div class="grid-header">Review</div>

      <%# Rows - applications are already sorted by last_name, first_name from the controller %>
      <% applications.each do |application| %>
        <%= render "application_row", application: application %>
      <% end %>
    </div>
  <% end %>
</div> 