<div class="container mt-4" 
     data-controller="review-cleanup"
     data-application-id="<%= @application.id %>">
  <h1>Review Application</h1>

  <% if params[:editing] %>
    <div class="alert alert-info mb-3">
      <i class="fas fa-pencil-alt"></i> Re-reviewing application
    </div>
  <% end %>

  <%
    # Get count of pending reviews for the current user
    pending_reviews_count = InitialReview.where(user: current_user, decision: :pending).count
  %>
  
  <p class="mb-3">
    <%= pending_reviews_count %> application<%= pending_reviews_count != 1 ? 's' : '' %> remaining
  </p>

  <%= render 'review_buttons', application: @application %>

  <div class="card mb-4">
    <div class="card-body">
      <% if @application.resume.present? %>
        <div class="resume-preview mb-4" style="width: 100%; height: 600px;">
          <iframe 
            src="https://drive.google.com/file/d/<%= @application.resume.split('id=').last %>/preview"
            style="width: 100%; height: 100%; border: none;"
            allow="autoplay">
          </iframe>
        </div>
      <% end %>

      <table class="table table-bordered">
        <tbody>
          <% Application.displayable_columns.each_slice(2) do |left_col, right_col| %>
            <tr>
              <% if left_col %>
                <th class="bg-light" style="width: 20%"><%= left_col.humanize %></th>
                <td style="width: 30%">
                  <% if left_col == "resume" && @application.resume.present? %>
                    <%= link_to @application.resume, @application.resume, target: "_blank" %>
                  <% else %>
                    <%= @application.send(left_col) %>
                  <% end %>
                </td>
              <% end %>
              
              <% if right_col %>
                <th class="bg-light" style="width: 20%"><%= right_col.humanize %></th>
                <td style="width: 30%">
                  <% if right_col == "resume" && @application.resume.present? %>
                    <%= link_to @application.resume, @application.resume, target: "_blank" %>
                  <% else %>
                    <%= @application.send(right_col) %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% if @application.initial_reviews.any? %>
        <div class="mt-4">
          <h4>Existing Reviews</h4>
          <%= render 'review_boxes', reviews: @application.initial_reviews.sort_by { |r| r.user&.name || '' } %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'review_buttons', application: @application %>
</div> 