<div class="row">
  <!-- Left column: Application details -->
  <div class="col-md-6">
    <h6 class="mb-3">Application Information</h6>
    <table class="table table-bordered">
      <tbody>
        <% Application.displayable_columns.each do |column| %>
          <tr>
            <th class="bg-light" style="width: 30%"><%= column.humanize %></th>
            <td>
              <% if column == "resume" && @application.resume.present? %>
                <%= link_to @application.resume, @application.resume, target: "_blank" %>
              <% else %>
                <%= @application.send(column) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <!-- Right column: Resume preview -->
  <div class="col-md-6">
    <% if @application.resume.present? %>
      <h6 class="mb-3">Resume Preview</h6>
      <div class="resume-preview" style="width: 100%; height: 400px;">
        <iframe 
          src="https://drive.google.com/file/d/<%= @application.resume.split('id=').last %>/preview"
          style="width: 100%; height: 100%; border: none;"
          allow="autoplay">
        </iframe>
      </div>
    <% end %>
  </div>
</div>

<!-- Scoring section -->
<div class="mt-4">
  <h6 class="mb-3">Scoring Details</h6>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Reviewer</th>
          <th>Interest</th>
          <th>Alignment</th>
          <th>Polish</th>
          <th>Overall</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <% @application.scorings.completed.includes(:user).each do |scoring| %>
          <tr>
            <td><%= scoring.user&.name || 'Unknown' %></td>
            <td><%= scoring.interest_score %></td>
            <td><%= scoring.alignment_score %></td>
            <td><%= scoring.polish_score %></td>
            <td><%= scoring.overall_score.round(1) %></td>
            <td><%= scoring.comments %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div> 