<div class="container mt-4">
  <h1>Application Details</h1>
  
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <% Application.displayable_columns.each_slice(2) do |left_col, right_col| %>
            <tr>
              <% if left_col %>
                <th class="bg-light" style="width: 20%"><%= left_col.humanize %></th>
                <td style="width: 30%">
                  <% if left_col == "resume" && @application.resume.present? %>
                    <%= link_to @application.resume, @application.resume, target: "_blank" %>
                  <% else %>
                    <%= @application.send(left_col) %>
                  <% end %>
                </td>
              <% end %>
              
              <% if right_col %>
                <th class="bg-light" style="width: 20%"><%= right_col.humanize %></th>
                <td style="width: 30%">
                  <% if right_col == "resume" && @application.resume.present? %>
                    <div class="resume-preview" style="width: 100%; height: 600px;">
                      <iframe 
                        src="https://drive.google.com/file/d/<%= @application.resume.split('id=').last %>/preview"
                        style="width: 100%; height: 100%; border: none;"
                        allow="autoplay">
                      </iframe>
                    </div>
                  <% else %>
                    <%= @application.send(right_col) %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= link_to "Back to Applications", applications_path, class: "btn btn-primary mt-3" %>
</div> 